{{!-- ==========================49. Advance templating=================== --}}
{{!-- <h1>Static Header.hbs Text</h1> --}}
{{!-- <h1> {{title}} </h1>

<div> 
    <a href= "/index">Weather</a>
    <a href= "/about">About</a>
    <a href= "/help">Help</a>
</div> --}}

{{!-- =========================51.Styling the aplication part I=========================== --}}

<header> 
    <h1> {{title}} </h1>

    <a href= "/">Weather</a>
    <a href= "/about">About</a>
    <a href= "/help">Help</a>
    
</header>